.wrapper {
  display: flex;
}

.home {
    padding: 20px 0;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.gallery>div {
    flex-basis: 200px;
}