.card {
    background-color: var(--yellow);
    height: 15rem;
    width: 12rem;
    padding: 10px;
    margin: 10px 0;
    border-radius: 0.7rem;
    border: 6px solid var(--dirty-yellow);
    text-align: center;
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    font-size: 1.2rem;
    text-transform: uppercase;
}

.image {
    background-color: #f3f3f3;
    margin-bottom: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.image img {
    height: 150px;
    width: 150px;
}